<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hk.mapper.SysSettingMapper">
	<!--实体映射-->
	<resultMap id="base_result_map" type="com.hk.entity.po.SysSetting">
		<!--编号-->
		<id column="code" property="code"/>

		<!--设置信息-->
		<result column="json_content" property="jsonContent"/>

	</resultMap>


	<!--通用查询结果列-->
	<sql id="base_column_list">
		code,json_content
	</sql>

	<!--基础查询条件-->
	<sql id="base_query_condition">
		<if test="query.code != null and query.code != ''">
			and code = #{query.code}
		</if>
		<if test="query.jsonContent != null and query.jsonContent != ''">
			and json_content = #{query.jsonContent}
		</if>
	</sql>

	<!--扩展的查询条件-->
	<sql id="base_query_condition_extend">
		<if test="query.codeFuzzy != null and query.codeFuzzy !=''">
			and code like concat('%', #{query.codeFuzzy}, '%')
		</if>
		<if test="query.jsonContentFuzzy != null and query.jsonContentFuzzy !=''">
			and json_content like concat('%', #{query.jsonContentFuzzy}, '%')
		</if>
	</sql>

	<!--通用查询条件-->
	<sql id="query_condition">
		<where>
			<include refid="base_query_condition"/>
			<include refid="base_query_condition_extend"/>
		</where>
	</sql>

	<!--查询列表-->
	<select id="selectList" resultMap="base_result_map">
		select 
		<include refid="base_column_list"/> 
		from sys_setting
		<include refid="query_condition"/>
		<if test="query.orderBy != null">
		order by ${query.orderBy}
		</if>
		<if test="query.simplePage != null">
		limit #{query.simplePage.start}, #{query.simplePage.end}
		</if>
	</select>

	<!--查询数量-->
	<select id="selectCount" resultType="java.lang.Integer">
		select count(1) from sys_setting <include refid="query_condition"/>
	</select>

	<!--插入（匹配有值的字段）-->
	<insert id="insert" parameterType="com.hk.entity.po.SysSetting">
		<trim prefix="insert into sys_setting(" suffix=")" suffixOverrides=",">
			<if test="bean.code != null">
				code,
			</if>
			<if test="bean.jsonContent != null">
				json_content,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bean.code != null">
				#{bean.code},
			</if>
			<if test="bean.jsonContent != null">
				#{bean.jsonContent},
			</if>
		</trim>
	</insert>

	<!--插入或者更新（匹配有值的字段）-->
	<insert id="insertOrUpdate" parameterType="com.hk.entity.po.SysSetting">
		<trim prefix="insert into sys_setting(" suffix=")" suffixOverrides=",">
			<if test="bean.code != null">
				code,
			</if>
			<if test="bean.jsonContent != null">
				json_content,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bean.code != null">
				#{bean.code},
			</if>
			<if test="bean.jsonContent != null">
				#{bean.jsonContent},
			</if>
		</trim>
		on duplicate key update
		<trim prefix="" suffix="" suffixOverrides=",">
			<if test="bean.jsonContent != null">
				json_content = #{bean.jsonContent},
			</if>
		</trim>
	</insert>

	<!--批量插入-->
	<insert id="insertBatch" parameterType="com.hk.entity.po.SysSetting">
		insert into sys_setting(code,json_content) values
		<foreach collection="list" item="item" separator=",">
		(#{item.code},#{item.jsonContent})
		</foreach>
	</insert>

	<!--批量插入或者更新-->
	<insert id="insertOrUpdateBatch" parameterType="com.hk.entity.po.SysSetting">
		insert into sys_setting(code,json_content) values
		<foreach collection="list" item="item" separator=",">
		(#{item.code},#{item.jsonContent})
		</foreach>
		on duplicate key update
		code=values(code),
		json_content=values(json_content)
	</insert>

	<!--根据Code查询-->
	<select id="selectByCode" resultMap="base_result_map" >
		select
		<include refid="base_column_list"/>
		from sys_setting
		where code=#{code}
	</select>

	<!--根据Code更新-->
	<update id="updateByCode" parameterType="com.hk.entity.po.SysSetting">
		update sys_setting
		<set>
			<if test="bean.code!=null">
			code=#{bean.code},
			</if>
			<if test="bean.jsonContent!=null">
			json_content=#{bean.jsonContent}
			</if>
		</set>
		where code=#{code}
	</update>

	<!--根据Code删除-->
	<delete id="deleteByCode">
		delete from sys_setting
		where code=#{code}
	</delete>



</mapper>